<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.springcore.auto.wire.Address" name="address1">
		<property name="street" value="Temp Street" />
		<property name="city" value="Kathmandu" />
	</bean>
	
	<bean class="com.springcore.auto.wire.Address" name="address1">
		<property name="street" value="Temp Street" />
		<property name="city" value="Pokhara" />
	</bean>

	<bean class="com.springcore.auto.wire.Emp" name="emp1"
		autowire="byType" />
	<!-- if you are using byType then basically it will check the address type 
		if match was found then it will return result and if you use byName then 
		basically it will check the variable of address type (in above example) if 
		not found return null, and if found it will return output -->

</beans>