<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">


	<!--This is our first bean using p schema method -->
	<bean class="com.springcore.Student" name="student1"
		p:StudentId="123" p:StudentName="Himal Pant"
		p:StudentAddress="Mahendranagar" />


	<!-- This is our second bean using value as an attribute -->
	<bean class="com.springcore.Student" name="student2"
		p:StudentId="1234" p:StudentName="Rajendra Pant"
		p:StudentAddress="Kathmandu" />
		</beans>